{% extends 'base.html' %}

{% block title %}Reading Detail{% endblock %}

{% block content %}
    <h1>Reading Detail</h1>
    <dl class="row">
        <dt class="col-sm-3">Date</dt>
        <dd class="col-sm-9">{{ reading.date }}</dd>
        <dt class="col-sm-3">Reading 1</dt>
        <dd class="col-sm-9">{{ reading.reading1 }}</dd>
        <dt class="col-sm-3">Reading 2</dt>
        <dd class="col-sm-9">{{ reading.reading2 }}</dd>
        <dt class="col-sm-3">Reading 3</dt>
        <dd class="col-sm-9">{{ reading.reading3 }}</dd>
        <dt class="col-sm-3">Reading 4</dt>
        <dd class="col-sm-9">{{ reading.reading4 }}</dd>
        <dt class="col-sm-3">Reading 5</dt>
        <dd class="col-sm-9">{{ reading.reading5 }}</dd>
    </dl>
    <a href="{% url 'reading_update' reading.id %}" class="btn btn-warning">Edit</a>
    <a href="{% url 'reading_delete' reading.id %}" class="btn btn-danger">Delete</a>

    {% if user.is_staff %}

    <a href="{% url 'reading_list' %}" class="btn btn-secondary">Back to List</a>
    {% endif %}
{% endblock %}